@model CommonViewModel
@using yash.Data.Enums
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="mt-4">DASHBOARD</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body font-weight-bolder">
                    Progressing Orders (@Model.numberOfInProgressOrder)
                </div>
                
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="@Url.Action("OrderListByStatus","Home", new { orderStatus = 0})">View Lists</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body font-weight-bolder">Shipping Orders (@Model.numberOfShippingOrder)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="@Url.Action("OrderListByStatus","Home", new { orderStatus = 2})">View Lists</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body font-weight-bolder">Success Orders (@Model.numberOfSuccessOrder)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="@Url.Action("OrderListByStatus","Home", new { orderStatus = 3})">View Lists</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body font-weight-bolder">Canceled Orders (@Model.numberOfcanceledOrder)</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="@Url.Action("OrderListByStatus","Home", new { orderStatus = 4})">View Lists</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Orders
            <a href="@Url.Action("Index", "Home")" class="btn btn-info font-weight-bold">VIEW ALL</a>
        </div>
        <div class="card-body">
            <div class="">
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Phone number</th>
                            <th>Detail</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Phone number</th>
                            <th>Detail</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var order in Model.orders)
                        {
                            <tr>
                                <td>@order.ShipName</td>
                                <td>@order.ShipAddress</td>
                                <td>@order.ShipEmail</td>
                                <td>
                                    <form asp-action="UpdateOrder" asp-controller="Home" method="post">
                                        <input type="number" hidden name="orderId" value="@order.Id" />
                                        <select class="form-select" name="orderStatus" onchange="if (this.value != null) { this.form.submit();}">
                                            <option value="" class="text-secondary font-weight-bolder" selected>@order.Status</option>
                                            <option class="text-success" value="3">@OrderStatus.Success</option>
                                            <option class="text-danger" value="4">@OrderStatus.Canceled</option>
                                            <option class="text-primary" value="2">@OrderStatus.Shipping</option>
                                            <option class="text-info" value="1">@OrderStatus.Confirmed</option>
                                            <option class="text-warning" value="0">@OrderStatus.InProgress</option>
                                        </select>
                                    </form>
                                </td>
                                <td>@order.ShipPhoneNumber</td>
                                <td><a href="@Url.Action("GetOrderDetail","Home",new { orderId = order.Id})">Details</a></td>
                            </tr>
                        }


                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
